#tags {width: 100%; HEIGHT: 35px; line-height:37px;}   
#tags li {FLOAT: left; MARGIN-RIGHT: 5px;}   
#reviewsWrite{ margin-top:20px;font-family: Verdana;}   
#tags li a {padding:9px 40px;text-decoration:none;color: black; text-transform:uppercase; background:white;border-radius: 5px 5px 0 0;}   
#tags li a:hover{ background:#E3E2D2;}   
#tags li.emptyTag {background: none transparent scroll repeat 0% 0%; width: 4px}   
#tags li.selectTag a {background:#E3E2D2;border-bottom: none;}   
#tags li.selectTag{background: #E3E2D2;border-radius: 5px 5px 0 0;}   
.tagContent {display: none;  PADDING: 10px; text-align:left; min-height: 250px;background-color: #E3E2D2; border-radius:0 5px 5px 5px;font-family: Verdana, Arial;}   
#tagContent div.selectTag {DISPLAY: block} 