.body-left
{
    float:left;
    text-align:center;
    vertical-align: middle;
    height:35px;
    width:35%;
}
.body-right
{
    text-align:left;
    height:35px;
}
.controlstyle
{
    width:60%;
}

